nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav li {
  display: block;
  width: 10rem;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  display: block;
  color: inherit;
  text-decoration: none;
  color: #ffffff;
  color: var(--background);
  background: #363636;
  background: var(--text-main);
}
