form {
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 3.5rem 3.5rem 3.5rem 6rem;
  width: 100%;
}

label {
  grid-column-start: 1;
  display: block;
  font-size: 1.5rem;
  align-self: center;
  padding-left: 10px;
}
input {
  grid-column-start: 2;
  align-self: center;
  display: block;
  font-size: 1.5rem;
  width: 100%;
}

input:invalid {
  background-color: pink;
  border: 1px solid red;
}

input:disabled {
  opacity: 1;
  border: 0;
  outline: 0;
}

@media only screen and (max-width: 500px) {
  .hide {
    display: none;
  }
}
